body, html {
    background-color: #F0eae7;
    margin: 0;
    overflow: hidden;
    transition: transform 1s ease;
}

.bgpic {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 66vw; 
    height: 100vh;
    opacity: 0.09; 
    z-index: -1; 
    object-fit: cover; 
}

.button-group {
    display: flex;
    flex-direction: column; 
    position: absolute;
    top: 3%;
    right: 38.5%;
    z-index: 1;
}

.button-link {
    text-decoration: none; 
}

.button-container {
    justify-content: flex-end; 
    align-items: center; 
    white-space: nowrap; 
    margin-bottom: 10px;
}

.button-container b {
    color: #3b2621; 
    font-family: "WindSong";
    font-size: 40px;
    font-weight: bold;
    position: relative;
    text-shadow: 5px 2px 10px #3b2621;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    z-index: 1;
}

.button-container:hover b {
    color: #3b2621; 
    text-shadow: none;
    z-index: 1;
}

.about-container {
    position: absolute;
    text-align: left;
    margin-left: 5%;
    max-width: 1100px;
}

.about-container h1 {
    color: #3b2621;
    font-family: "WindSong";
    font-size: 100px;
    margin-top: 2%;
    margin-bottom: 1%;
    text-shadow: 2px 2px 10px #895b4a;
}

.about-container h2 {
    color: #895b4a;
    font-family: "WindSong";
    font-size: 40px;
    word-spacing: 5px;
    letter-spacing: 2px;
    margin-top: 2%;
    margin-bottom: 2%;
    text-shadow: 2px 2px 10px #895b4a;
}

.about-container strong {
    color: #3b2621;
    font-family: "Prompt";
    font-size: medium;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 20px #3b2621;
}

.about-container p {
    color: #895b4a;
    font-family: "Prompt";
    font-size:medium;
    word-spacing: 3px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 70px #3b2621;
}

.socmed {
    color: #895b4a;
    position: fixed;
    bottom: 8.5%;
    left: 5%; 
    display: inline-flex; 
    gap: 40px;
    font-size: 14px;
}

.socmed span {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.socmed i {
    font-size: 20px;
    color: #3b2621; 
    text-shadow: 3px 1px 20px #3b2621;
}

.socmed span {
    font-family: "Font Awesome 6 Free";
    font-size: 12px; 
    color: #895b4a; 
    letter-spacing: 2px;
    text-shadow: 3px 1px 10px #3b2621;
}

.decorative-line {
    width: 5px;
    height: 300%;
    background:  #3b2621; 
    position: absolute;
    right: 33.5%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.decorative-line2 {
    width: 5px;
    height: 300%;
    background:  #3b2621; 
    position: absolute;
    right: 1.1%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.carousel-container {
    position: fixed;
    top: 0;
    right: 1.5%;
    bottom: 0;
    width: 616px; 
    height: 100%; 
    overflow: hidden; 
}

.carousel {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-auto-rows: auto; 
    gap: 10px; 
    grid-auto-flow: dense; 
    animation: scrollVertical 40s linear infinite; 
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 2px 3px 4px #3b2621; 
}

.size1 {
    grid-column: span 1;
    grid-row: span 1;
    height: 450px; 
}

.size2 {
    grid-column: span 2; 
    grid-row: span 1;
    height: 300px; 
}

.size3 {
    grid-column: span 3; 
    grid-row: span 1; 
    height: 200px;
}

.size4 {
    grid-column: span 4;
    grid-row: span 2;
    height: 600px; 
}

.size5 {
    grid-column: span 2; 
    grid-row: span 2;
    height: 500px;
}

.size6 {
    grid-column: span 3;
    grid-row: span 2;
    height: 550px;
}

.size7 {
    grid-column: span 4;
    grid-row: span 3;
    height: 650px;
}


@keyframes scrollVertical {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}







@media screen and (min-width: 0px) and (max-width: 320px) {
    body, html {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
    }
    .bgpic {
        width: 100vw;
        height:100vh;
        opacity: 0.1; 
        z-index: 1;
    }

    .button-group {
        margin: 0;
        align-items: flex-end; 
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 1%;
        right: 5%;
        z-index: 1;
        width: 100vw;
        z-index: 3; 
        
    }
    
    .button-link {
        text-decoration: none;
    }
    
    .button-container {
        justify-content: flex-end;
        align-items: center;
        white-space: nowrap;
        margin: 0;
    }
    
    .button-container b {
        font-size: 1.5rem;
    }
    
    .about-container {
        position: absolute;
        text-align: left;
        margin: 2% 2%;
        max-width: 100vw;
        height: 64vh;
        z-index: 2; 
        
    }

    .about-container h1 {
        font-size: 2rem;
        margin-top: 2%;
        margin-bottom: 10%;
    }

    .about-container h2 {
        color: #895b4a;
        font-family: "WindSong";
        font-size: 1rem;
        word-spacing: 5px;
        letter-spacing: 2px;
        margin-top: 10%;
        margin-bottom: 2%;
        text-shadow: 2px 2px 10px #895b4a;
    }

    .about-container strong {
        color: #3b2621;
        font-family: "Prompt";
        font-size: 0.5rem;
        word-spacing: 4px;
        letter-spacing: 1px;
        text-shadow: 2px 2px 20px #3b2621;
    }

    .about-container p {
        color: #895b4a;
        font-family: "Prompt";
        font-size: 0.5rem;
        word-spacing: 3px;
        letter-spacing: 1px;
        text-shadow: 1px 1px 70px #3b2621;
    }

    .socmed {
        position: absolute;
        bottom: 2%; 
        display: inline-flex; 
        gap: 0.3rem;
        z-index: 3;
    }

    .socmed span {
        font-size: 0.1rem; 
        display: flex;
        align-items: center;  
        gap: 0.3rem;
    }

    .socmed i {
        font-size: 0.5rem;
        gap: 0.1rem;
    }

    .socmed span {
        font-size: 0.2rem; 
        letter-spacing: 0.1rem;
        gap: 0.1rem;
    }

    .decorative-line, .decorative-line2 {
        width: 100vw;
        height: 1vh;
        background: #3b2621; 
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }
    
    .decorative-line {
        margin-top: 45vh; 
    }
    
    .decorative-line2 {
        margin-top: 15vh;
    }

    .carousel-container {
        position: absolute;
        width: 100vw; 
        height: 30vh; 
        margin-top: 65vh;
        z-index: 2;
        right: 0;
    }
}




@media screen and (min-width: 321px) and (max-width: 375px) {
    body, html {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
    }
    .bgpic {
        width: 100vw;
        height:100vh;
        opacity: 0.1; 
        z-index: 1;
    }

    .button-group {
        margin: 0;
        align-items: flex-end; 
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 1%;
        right: 5%;
        z-index: 1;
        width: 100vw;
        z-index: 3; 
        
    }
    
    .button-link {
        text-decoration: none;
    }
    
    .button-container {
        justify-content: flex-end;
        align-items: center;
        white-space: nowrap;
        margin: 0;
    }
    
    .button-container b {
        font-size: 1.8rem;
    }
    
    .about-container {
        position: absolute;
        text-align: left;
        margin: 2% 2%;
        max-width: 100vw;
        height: 63vh;
        z-index: 2;
    }

    .about-container h1 {
        font-size: 2.5rem;
        margin-top: 2%;
        margin-bottom: 10%;
    }

    .about-container h2 {
        font-size: 1.2rem;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .about-container strong {
        font-size: 0.55rem;
    }

    .about-container p {
        font-size: 0.55rem;
    }

    .socmed {
        position: absolute;
        bottom: 2%; 
        display: inline-flex; 
        gap: 0.3rem;
        z-index: 3;
    }

    .socmed span {
        font-size: 0.4rem; 
        display: flex;
        align-items: center;  
        gap: 0.3rem;
    }

    .socmed i {
        font-size: 0.5rem;
        gap: 0.1rem;
    }

    .socmed span {
        font-size: 0.3rem; 
        letter-spacing: 0.1rem;
        gap: 0.1rem;
    }

    .decorative-line, .decorative-line2 {
        width: 100vw;
        height: 1vh;
        background: #3b2621; 
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }
    
    .decorative-line {
        margin-top: 45vh; 
    }
    
    .decorative-line2 {
        margin-top: 15vh;
    }

    .carousel-container {
        position: absolute;
        width: 100vw; 
        height: 30vh; 
        margin-top: 65vh;
        z-index: 2; 
        right: 0;
    }
}


@media screen and (min-width: 376px) and (max-width: 425px) {
    body, html {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
    }
    .bgpic {
        width: 100vw;
        height:100vh;
        opacity: 0.1; 
        z-index: 1;
    }

    .button-group {
        margin: 0;
        align-items: flex-end; 
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 1%;
        right: 5%;
        z-index: 1;
        width: 100vw;
        z-index: 3; 
        
    }
    
    .button-link {
        text-decoration: none;
    }
    
    .button-container {
        justify-content: flex-end;
        align-items: center;
        white-space: nowrap;
        margin: 0;
    }
    
    .button-container b {
        font-size: 2rem;
    }
    
    .about-container {
        position: absolute;
        text-align: left;
        margin: 2% 2%;
        max-width: 100vw;
        height: 63vh;
        z-index: 2;
    }

    .about-container h1 {
        font-size: 2.8rem;
        margin-top: 2%;
        margin-bottom: 10%;
    }

    .about-container h2 {
        font-size: 1.4rem;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .about-container strong {
        font-size: 0.5rem;
    }

    .about-container p {
        font-size: 0.5rem;
    }

    .socmed {
        position: absolute;
        bottom: 2%; 
        display: inline-flex; 
        gap: 0.3rem;
        z-index: 3;
    }

    .socmed span {
        font-size: 0.4rem; 
        display: flex;
        align-items: center;  
        gap: 0.3rem;
    }

    .socmed i {
        font-size: 0.5rem;
        gap: 0.1rem;
    }

    .socmed span {
        font-size: 0.3rem; 
        letter-spacing: 0.1rem;
        gap: 0.1rem;
    }

    .decorative-line, .decorative-line2 {
        width: 100vw;
        height: 1vh;
        background: #3b2621; 
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }
    
    .decorative-line {
        margin-top: 45vh; 
    }
    
    .decorative-line2 {
        margin-top: 15vh;
    }

    .carousel-container {
        position: absolute;
        width: 99vw; 
        height: 30vh; 
        margin-top: 65vh;
        z-index: 2; 
        right: 0;
    }
}



@media screen and (min-width: 426px) and (max-width: 768px) {
    body, html {
        margin: 0;
        padding: 0;
        max-width: 100vw;
        height: 100vh;
    }
    .bgpic {
        width: 100vw;
        height:100vh;
        opacity: 0.1; 
        z-index: 1;
    }

    .button-group {
        margin: 0;
        align-items: flex-end; 
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 1%;
        right: 5%;
        z-index: 1;
        width: 100vw;
        z-index: 3; 
        
    }
    
    .button-link {
        text-decoration: none;
    }
    
    .button-container {
        justify-content: flex-end;
        align-items: center;
        white-space: nowrap;
        margin: 0;
    }
    
    .button-container b {
        font-size: 2.5rem;
    }
    
    .about-container {
        position: absolute;
        text-align: left;
        margin: 2% 2%;
        max-width: 100vw;
        height: 63vh;
        z-index: 2;
    }

    .about-container h1 {
        font-size: 5rem;
        margin-top: 2%;
        margin-bottom: 1%;
    }

    .about-container h2 {
        font-size: 1.5rem;
        margin-top: 2%;
        margin-bottom: 1%;
    }

    .about-container strong {
        font-size: 0.65rem;
    }

    .about-container p {
        font-size: 0.65rem;
    }
    .socmed {
        position: absolute;
        bottom: 1.5%; 
        left: 65%; 
        transform: translateX(-50%);
        display: inline-flex; 
        gap: 1rem;
        z-index: 3;
        width: 100vw;
    }
    
    .socmed span {
        font-size: 1rem; 
        display: flex;
        align-items: center;  
        gap: 0.3rem;
    }
    
    .socmed i {
        font-size: 1rem;
        gap: 0.1rem;
    }
    
    .socmed span {
        font-size: 0.4rem; 
        letter-spacing: 0.1rem;
        gap: 0.1rem;
    }
    


    .decorative-line, .decorative-line2 {
        width: 100vw;
        height: 1vh;
        background: #3b2621; 
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }
    
    .decorative-line {
        margin-top: 45vh; 
    }
    
    .decorative-line2 {
        margin-top: 15vh;
    }

    .carousel-container {
        position: absolute;
        width: 100vw; 
        height: 30vh; 
        margin-top: 65vh;
        z-index: 2; 
        right: 0;
    }
}



@media screen and (min-width: 769px) and (max-width: 1024px) {
    body, html {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
    }
    .bgpic {
        width: 100vw;
        height:100vh;
        opacity: 0.1; 
        z-index: 1;
    }

    .button-group {
        margin: 0;
        align-items: flex-end; 
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 1%;
        right: 5%;
        z-index: 1;
        width: 100vw;
        z-index: 3; 
        
    }
    
    .button-link {
        text-decoration: none;
    }
    
    .button-container {
        justify-content: flex-end;
        align-items: center;
        white-space: nowrap;
        margin: 0;
    }
    
    .button-container b {
        font-size: 2.5rem;
    }
    
    .about-container {
        position: absolute;
        text-align: left;
        margin: 2% 2%;
        max-width: 100vw;
        height: 63vh;
        z-index: 2;
    }

    .about-container h1 {
        font-size: 5rem;
        margin-top: 2%;
        margin-bottom: 1%;
    }

    .about-container h2 {
        font-size: 1.5rem;
        margin-top: 2%;
        margin-bottom: 1%;
    }

    .about-container strong {
        font-size: 0.65rem;
    }

    .about-container p {
        font-size: 0.65rem;
    }
    .socmed {
        position: absolute;
        bottom: 1.5%; 
        left: 65%; 
        transform: translateX(-50%);
        display: inline-flex; 
        gap: 1rem;
        z-index: 3;
        width: 100vw;
    }
    
    .socmed span {
        font-size: 1rem; 
        display: flex;
        align-items: center;  
        gap: 0.3rem;
    }
    
    .socmed i {
        font-size: 1rem;
        gap: 0.1rem;
    }
    
    .socmed span {
        font-size: 0.4rem; 
        letter-spacing: 0.1rem;
        gap: 0.1rem;
    }
    


    .decorative-line, .decorative-line2 {
        width: 100vw;
        height: 1vh;
        background: #3b2621; 
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }
    
    .decorative-line {
        margin-top: 45vh; 
    }
    
    .decorative-line2 {
        margin-top: 15vh;
    }

    .carousel-container {
        position: absolute;
        width: 100vw; 
        height: 30vh; 
        margin-top: 65vh;
        z-index: 2; 
        right: 0;
    }
}
